botorch==0.6.3.1
matter-chimera
scikit-learn
scipy
pyDOE
sobol-seq
tqdm
ipykernel
jupyterlab
matplotlib
seaborn
pandas
SQLAlchemy
silence-tensorflow
deap
rich
pytest
git+https://github.com/aspuru-guzik-group/olympus.git@dev
